body {
    background: #5C1910;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:0px 0px;
    padding:0px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #000;
    background-image: url();
    text-decoration: underline overline;
}

.menu_item {
    /*border:3px solid #333;*/
    /*background-color: #eee;*/
    padding: 0px 0px 0px 5px;
    margin: 0px;
    margin-right: 20px;
    list-style-type: none;
}

.menu_item ul {
    list-style-type: none;
}

.menu_item ul li {
    padding-left: 16px;
    _padding-left: 0px;
    background-image: url(/images/pb_icon.png);
    background-repeat: no-repeat;
}

.menu_item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu_item a:hover {
    color: #ff0000;
    background-image: url();
    text-decoration: underline overline;
}

.indented {
    padding-left: 15px;
}

.normal {
    margin: 5px 5px 5px 5px;
}

.error_msg {
   margin: 5px 5px 5px 5px;
   padding: 5px 5px 5px 5px;
   background-color: #ff0000;
   color: #FFFFFF;
   font-weight: bold;
}

#header {
    width:600px;
    padding: 0px;
    margin: 0px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

#main_content {
    width:600px;
    /* background-color:#eee; */
    background-color: #FFFFFF;
    border-right: 3px solid black;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

#footer {
    /*background-color: #eee;*/
    width:600px;
    /*border:3px solid #333;*/
    font-size: 10px;
    color: white;
    text-align: center;
    padding:0px;
}

.basic_container {
    padding-left: 10px;
}

img.center { display: block;   margin-left: auto;   margin-right: auto; }

/* overlay style */
/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;
    min-height:200px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(/images/close_button.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

/* styling for elements inside overlay */
.details {
  vertical-align: top;
  width:200px;
  font-size:11px;
  color:#fff;
  width:150px;
  padding: 5px 5px 5px 5px;
}

.details h3 {
  color:#aba;
  font-size:15px;
}
/* /overlay style */

/* tabs */
/* root element for tabs  */
ul.tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}

/* single tab */
ul.tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 10px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}

ul.tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.tabs a.current {
    background-color:#5C1910;
    border-bottom:1px solid #5C1910;
    color:#FFF;
    cursor:default;
}

/* tab pane */
.panes div {
    /*display:none;*/
    /*border:1px solid #666;*/
    /*border-width:0 1px 1px 1px;*/
    /*min-height:200px;*/
    /*padding:15px 20px;*/
    /*background-color:#ddd;*/
}
/* /tabs */
