<strong style="color:#ff0000;">
    <b style="text-decoration: underline">NO</b> drinks or water can be brought to field at any time.
    There is water and gatorade for sale.
    You may drink your own water at your car not on the field!!!
</strong>
