<table border="0" style="[%hours_style%]"><tbody><tr>
    <td valign="top"><b>Hours:</b></td>
    <td valign="top">
        Mon-Sat 10am-12am<br />
        Sun 2pm-12am<br />
        <b>We have lighted night play.</b>
    </td>
</tr></tbody></table>
