<p>Paintball-Outfitter has all your paintball, airsoft and laser tag needs. We sell
paintball makers, airsoft and accessories from all your favorite brands.  We
rent laser tag equipment.  Come play either of your favorite on one of three
outdoor fields, each with it's own unique flavor.
</p>
