<div class="normal">
    <h3>Links</h3>
    <ul>
        <li><a href="http://knuller.paintball-outfitter.com" target="_blank">Knuller</a></li>
        <li><a href="http://www.facebook.com/pages/Paintball-Outfittercom/124364087017?v=info" target="_blank">Paintball-Outfitter on Facebook</a></li>
    </ul>
</div>