If you plan on playing on one of our fields please have you and everyone in your party print out and sign
a copy of our <a href="/docs/PBOWaiver.pdf" target="_blank">WAIVER</a>.  This will help speed up the process
and get you playing faster. Thanks!
